@model List<kompozytor_menu.ViewModels.MyMenuItemViewModel>

<form asp-action="Menu2">

<h2><p class="text-center">Zupa</p></h2>
<h5><p class="text-center">Wybierz jeden rodzaj</p></h5>
<br>


<div class="card-deck">

    <div class="card">
      <div class="card-body">        
        <ul class="list-group list-group-flush">

<div id="RadioButtonGroup">

    @for (int i = 0; i < Model.Where(p=>p.PackageId==1).Count(); i++)
   {
            <li class="list-group-item">
            @Html.HiddenFor(modelItem =>Model[i].Id)
            <div class="form-check">
              <input class="form-check-input" type="radio" value="" asp-for="@Model[i].Selected">
              <label class="form-check-label" asp-for="@Model[i].Selected">
               @Html.DisplayFor(modelItem => Model[i].Name)
              </label>
            </div>
            </li>
   }
   </div>
        </ul>
      </div>
    <div class="card-footer">

    </div>
  </div>

    <div class="card">
      <div class="card-body">        
        <ul class="list-group list-group-flush">
                @foreach (var item in Model.Where(p=>p.PackageId==2)) 
                {
                    <li class="list-group-item">@Html.DisplayFor(modelItem => item.Name)  <input type="checkbox" asp-for="@item.Selected"  /> </li>
                }
        </ul>
      </div>
    <div class="card-footer">
      Cena  zł
    </div>
  </div>


    <div class="card">
      <div class="card-body">        
        <ul class="list-group list-group-flush">
                @foreach (var item in Model.Where(p=>p.PackageId==3)) 
                {
                    <li class="list-group-item">@Html.DisplayFor(modelItem => item.Name)  <input type="checkbox" asp-for="@item.Selected"  /> </li>
                }
        </ul>
      </div>
    <div class="card-footer">
      Cena  zł
    </div>
  </div>
</div>

</br>
<h2><p class="text-center">Pakiet mięs</p></h2>
<h5><p class="text-center">Wybierz do 4 gatunków w ramach pakietu</p></h5>
<h5><p class="text-center">2 porcje na osobę</p></h5>
<br>

  <div class="card-deck">

    <div class="card">
      <div class="card-body">        
        <ul class="list-group list-group-flush">
                @foreach (var item in Model.Where(p=>p.PackageId==4)) 
                {
                    <li class="list-group-item">@Html.DisplayFor(modelItem => item.Name) <input type="checkbox" asp-for="@item.Selected"  /> </li>
                }
        </ul>
      </div>
    <div class="card-footer">
      Cena  zł
    </div>
  </div>

    <div class="card">
      <div class="card-body">        
        <ul class="list-group list-group-flush">
                @foreach (var item in Model.Where(p=>p.PackageId==5)) 
                {
                    <li class="list-group-item">@Html.DisplayFor(modelItem => item.Name)  <input type="checkbox" asp-for="@item.Selected"  /> </li>
                }
        </ul>
      </div>
    <div class="card-footer">
      Cena  zł
    </div>
  </div>


    <div class="card">
      <div class="card-body">        
        <ul class="list-group list-group-flush">
                @foreach (var item in Model.Where(p=>p.PackageId==6)) 
                {
                    <li class="list-group-item">@Html.DisplayFor(modelItem => item.Name)  <input type="checkbox" asp-for="@item.Selected"  /> </li>
                }
        </ul>
      </div>
    <div class="card-footer">
      Cena  zł
    </div>
  </div>


<input type="submit" value="Create" class="btn btn-default" />

  </form>