@model kompozytor_menu.ViewModels.MyMenuViewModel

<h2><p class="text-center">Zupa</p></h2>
<h5><p class="text-center">Wybierz jeden rodzaj</p></h5>
<br>

<div class="card-deck">

    <div class="card">
      <div class="card-body">        
        <ul class="list-group list-group-flush">
                @foreach (var item in Model.MyMenuItems.Where(p=>p.PackageId==1)) 
                {
                    <li class="list-group-item">@Html.DisplayFor(modelItem => item.Name) <input type="checkbox" asp-for="@item.Selected"  /> </li>
                }
        </ul>
      </div>
    <div class="card-footer">
      Cena @Model.MyMenuItems.Where(p=>p.PackageId==1).FirstOrDefault().Price zł
    </div>
  </div>

    <div class="card">
      <div class="card-body">        
        <ul class="list-group list-group-flush">
                @foreach (var item in Model.MyMenuItems.Where(p=>p.PackageId==2)) 
                {
                    <li class="list-group-item">@Html.DisplayFor(modelItem => item.Name)  <input type="checkbox" asp-for="@item.Selected"  /> </li>
                }
        </ul>
      </div>
    <div class="card-footer">
      Cena  zł
    </div>
  </div>


    <div class="card">
      <div class="card-body">        
        <ul class="list-group list-group-flush">
                @foreach (var item in Model.MyMenuItems.Where(p=>p.PackageId==3)) 
                {
                    <li class="list-group-item">@Html.DisplayFor(modelItem => item.Name)  <input type="checkbox" asp-for="@item.Selected"  /> </li>
                }
        </ul>
      </div>
    <div class="card-footer">
      Cena  zł
    </div>
  </div>
</div>

</br>
<h2><p class="text-center">Pakiet mięs</p></h2>
<h5><p class="text-center">Wybierz do 4 gatunków w ramach pakietu</p></h5>
<h5><p class="text-center">2 porcje na osobę</p></h5>
<br>

  <div class="card-deck">

    <div class="card">
      <div class="card-body">        
        <ul class="list-group list-group-flush">
                @foreach (var item in Model.MyMenuItems.Where(p=>p.PackageId==4)) 
                {
                    <li class="list-group-item">@Html.DisplayFor(modelItem => item.Name) <input type="checkbox" asp-for="@item.Selected"  /> </li>
                }
        </ul>
      </div>
    <div class="card-footer">
      Cena  zł
    </div>
  </div>

    <div class="card">
      <div class="card-body">        
        <ul class="list-group list-group-flush">
                @foreach (var item in Model.MyMenuItems.Where(p=>p.PackageId==5)) 
                {
                    <li class="list-group-item">@Html.DisplayFor(modelItem => item.Name)  <input type="checkbox" asp-for="@item.Selected"  /> </li>
                }
        </ul>
      </div>
    <div class="card-footer">
      Cena  zł
    </div>
  </div>


    <div class="card">
      <div class="card-body">        
        <ul class="list-group list-group-flush">
                @foreach (var item in Model.MyMenuItems.Where(p=>p.PackageId==6)) 
                {
                    <li class="list-group-item">@Html.DisplayFor(modelItem => item.Name)  <input type="checkbox" asp-for="@item.Selected"  /> </li>
                }
        </ul>
      </div>
    <div class="card-footer">
      Cena  zł
    </div>
  </div>